## Prepare the dataset for all las files in csv formate

In [1]:
# import dependencies
import numpy as np
import pandas as pd
import lasio
import os
import shutil

In [2]:
data_dir = "./2017_kansas_log_data"

In [6]:
f_names = os.listdir(data_dir)
print(f"Files in the directory : {f_names[0:100]} ....")

Files in the directory : ['1046139243.las', '1046139249.las', '1046139256.las', '1046139308.las', '1046139314.las', '1046139325.las', '1046139326.las', '1046139330.las', '1046139339.las', '1046139348.las', '1046139370.las', '1046139374.las', '1046139418.las', '1046139427.las', '1046139439.las', '1046139479.las', '1046139510.las', '1046139511.las', '1046139542.las', '1046139555.las', '1046139556.las', '1046139566.las', '1046139574.las', '1046139578.las', '1046139599.las', '1046139604.las', '1046139607.las', '1046139610.las', '1046139620.las', '1046139624.las', '1046139629.las', '1046139630.las', '1046139637.las', '1046139647.las', '1046139649.las', '1046139669.las', '1046139682.las', '1046139683.las', '1046139686.las', '1046139702.las', '1046139729.las', '1046139749.las', '1046139759.las', '1046139773.las', '1046139781.las', '1046139791.las', '1046139795.las', '1046139799.las', '1046139801.las', '1046139812.las', '1046139815.las', '1046139829.las', '1046139839.las', '1046139843.las', '1046139850.las', '1046139852.las', '1046139860.las', '1046139866.las', '1046139873.las', '1046139881.las', '1046139884.las', '1046139900.las', '1046139904.las', '1046139914.las', '1046139918.las', '1046139920.las', '1046139922.las', '1046139930.las', '1046139934.las', '1046139944.las', '1046139954.las', '1046139956.las', '1046139965.las', '1046139967.las', '1046139972.las', '1046139977.las', '1046139979.las', '1046139988.las', '1046139992.las', '1046139995.las', '1046140000.las', '1046140002.las', '1046140015.las', '1046140020.las', '1046140021.las', '1046140038.las', '1046140039.las', '1046140050.las', '1046140061.las', '1046140066.las', '1046140067.las', '1046140075.las', '1046140077.las', '1046140078.las', '1046140084.las', '1046140086.las', '1046140089.las', '1046140092.las', '1046140094.las', '1046140100.las'] ....

In [7]:
df_list = []

In [8]:
for fname in f_names:
    f_path = os.path.join(data_dir, fname)
    f = lasio.read(f_path,ignore_header_errors=True)
    print(f"Scanning file {f_path}")
    df = f.df()
    df_list.append(df)

Scanning file ./2017_kansas_log_data\1046139243.las
Scanning file ./2017_kansas_log_data\1046139249.las
Scanning file ./2017_kansas_log_data\1046139256.las
Scanning file ./2017_kansas_log_data\1046139308.las
Scanning file ./2017_kansas_log_data\1046139314.las
Scanning file ./2017_kansas_log_data\1046139325.las
Scanning file ./2017_kansas_log_data\1046139326.las
Scanning file ./2017_kansas_log_data\1046139330.las
Scanning file ./2017_kansas_log_data\1046139339.las
Scanning file ./2017_kansas_log_data\1046139348.las
Scanning file ./2017_kansas_log_data\1046139370.las
Scanning file ./2017_kansas_log_data\1046139374.las
Scanning file ./2017_kansas_log_data\1046139418.las
Scanning file ./2017_kansas_log_data\1046139427.las
Scanning file ./2017_kansas_log_data\1046139439.las
Scanning file ./2017_kansas_log_data\1046139479.las
Scanning file ./2017_kansas_log_data\1046139510.las
Scanning file ./2017_kansas_log_data\1046139511.las
Scanning file ./2017_kansas_log_data\1046139542.las
Scanning file ./2017_kansas_log_data\1046139555.las
Scanning file ./2017_kansas_log_data\1046139556.las
Scanning file ./2017_kansas_log_data\1046139566.las
Scanning file ./2017_kansas_log_data\1046139574.las
Scanning file ./2017_kansas_log_data\1046139578.las
Scanning file ./2017_kansas_log_data\1046139599.las
Scanning file ./2017_kansas_log_data\1046139604.las
Scanning file ./2017_kansas_log_data\1046139607.las
Scanning file ./2017_kansas_log_data\1046139610.las
Scanning file ./2017_kansas_log_data\1046139620.las
Scanning file ./2017_kansas_log_data\1046139624.las
Scanning file ./2017_kansas_log_data\1046139629.las
Scanning file ./2017_kansas_log_data\1046139630.las
Scanning file ./2017_kansas_log_data\1046139637.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046139647.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046139649.las
Scanning file ./2017_kansas_log_data\1046139669.las
Scanning file ./2017_kansas_log_data\1046139682.las
Scanning file ./2017_kansas_log_data\1046139683.las
Scanning file ./2017_kansas_log_data\1046139686.las
Scanning file ./2017_kansas_log_data\1046139702.las
Scanning file ./2017_kansas_log_data\1046139729.las
Scanning file ./2017_kansas_log_data\1046139749.las
Scanning file ./2017_kansas_log_data\1046139759.las
Scanning file ./2017_kansas_log_data\1046139773.las
Scanning file ./2017_kansas_log_data\1046139781.las
Scanning file ./2017_kansas_log_data\1046139791.las
Scanning file ./2017_kansas_log_data\1046139795.las
Scanning file ./2017_kansas_log_data\1046139799.las
Scanning file ./2017_kansas_log_data\1046139801.las
Scanning file ./2017_kansas_log_data\1046139812.las
Scanning file ./2017_kansas_log_data\1046139815.las
Scanning file ./2017_kansas_log_data\1046139829.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046139839.las
Scanning file ./2017_kansas_log_data\1046139843.las
Scanning file ./2017_kansas_log_data\1046139850.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046139852.las
Scanning file ./2017_kansas_log_data\1046139860.las
Scanning file ./2017_kansas_log_data\1046139866.las
Scanning file ./2017_kansas_log_data\1046139873.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046139881.las
Scanning file ./2017_kansas_log_data\1046139884.las
Scanning file ./2017_kansas_log_data\1046139900.las
Scanning file ./2017_kansas_log_data\1046139904.las
Scanning file ./2017_kansas_log_data\1046139914.las
Scanning file ./2017_kansas_log_data\1046139918.las
Scanning file ./2017_kansas_log_data\1046139920.las
Scanning file ./2017_kansas_log_data\1046139922.las
Scanning file ./2017_kansas_log_data\1046139930.las
Scanning file ./2017_kansas_log_data\1046139934.las

Unable to parse line as LAS header: TCS .                   15 11:  Time Ciculation Ended
line 82 (section ~Parameter Information Block): "TCS .                   15 11:  Time Ciculation Ended"
Unable to parse line as LAS header: TLAB.                   15 11:  LogStartTimeT
line 84 (section ~Parameter Information Block): "TLAB.                   15 11:  LogStartTimeT"

Scanning file ./2017_kansas_log_data\1046139944.las
Scanning file ./2017_kansas_log_data\1046139954.las
Scanning file ./2017_kansas_log_data\1046139956.las
Scanning file ./2017_kansas_log_data\1046139965.las
Scanning file ./2017_kansas_log_data\1046139967.las
Scanning file ./2017_kansas_log_data\1046139972.las
Scanning file ./2017_kansas_log_data\1046139977.las
Scanning file ./2017_kansas_log_data\1046139979.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046139988.las
Scanning file ./2017_kansas_log_data\1046139992.las
Scanning file ./2017_kansas_log_data\1046139995.las
Scanning file ./2017_kansas_log_data\1046140000.las
Scanning file ./2017_kansas_log_data\1046140002.las
Scanning file ./2017_kansas_log_data\1046140015.las

Unable to parse line as LAS header: TCS .                   23 00:  Time Ciculation Ended
line 81 (section ~Parameter Information Block): "TCS .                   23 00:  Time Ciculation Ended"

Scanning file ./2017_kansas_log_data\1046140020.las

Unable to parse line as LAS header: TCS .                   23 00:  Time Ciculation Ended
line 81 (section ~Parameter Information Block): "TCS .                   23 00:  Time Ciculation Ended"

Scanning file ./2017_kansas_log_data\1046140021.las

Unable to parse line as LAS header: TCS .                   23 00:  Time Ciculation Ended
line 81 (section ~Parameter Information Block): "TCS .                   23 00:  Time Ciculation Ended"

Scanning file ./2017_kansas_log_data\1046140038.las
Scanning file ./2017_kansas_log_data\1046140039.las
Scanning file ./2017_kansas_log_data\1046140050.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046140061.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046140066.las
Scanning file ./2017_kansas_log_data\1046140067.las
Scanning file ./2017_kansas_log_data\1046140075.las
Scanning file ./2017_kansas_log_data\1046140077.las
Scanning file ./2017_kansas_log_data\1046140078.las
Scanning file ./2017_kansas_log_data\1046140084.las
Scanning file ./2017_kansas_log_data\1046140086.las
Scanning file ./2017_kansas_log_data\1046140089.las
Scanning file ./2017_kansas_log_data\1046140092.las
Scanning file ./2017_kansas_log_data\1046140094.las
Scanning file ./2017_kansas_log_data\1046140100.las
Scanning file ./2017_kansas_log_data\1046140110.las
Scanning file ./2017_kansas_log_data\1046140116.las
Scanning file ./2017_kansas_log_data\1046140117.las
Scanning file ./2017_kansas_log_data\1046409932.las
Scanning file ./2017_kansas_log_data\1046409948.las
Scanning file ./2017_kansas_log_data\1046409956.las
Scanning file ./2017_kansas_log_data\1046409964.las
Scanning file ./2017_kansas_log_data\1046409971.las
Scanning file ./2017_kansas_log_data\1046409973.las
Scanning file ./2017_kansas_log_data\1046409977.las
Scanning file ./2017_kansas_log_data\1046409983.las
Scanning file ./2017_kansas_log_data\1046409990.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046409997.las
Scanning file ./2017_kansas_log_data\1046410000.las
Scanning file ./2017_kansas_log_data\1046410013.las
Scanning file ./2017_kansas_log_data\1046410014.las
Scanning file ./2017_kansas_log_data\1046410036.las
Scanning file ./2017_kansas_log_data\1046410037.las
Scanning file ./2017_kansas_log_data\1046410050.las
Scanning file ./2017_kansas_log_data\1046410051.las
Scanning file ./2017_kansas_log_data\1046410056.las
Scanning file ./2017_kansas_log_data\1046410057.las
Scanning file ./2017_kansas_log_data\1046410070.las
Scanning file ./2017_kansas_log_data\1046410076.las
Scanning file ./2017_kansas_log_data\1046410094.las
Scanning file ./2017_kansas_log_data\1046410104.las
Scanning file ./2017_kansas_log_data\1046410105.las
Scanning file ./2017_kansas_log_data\1046410111.las
Scanning file ./2017_kansas_log_data\1046410117.las
Scanning file ./2017_kansas_log_data\1046410150.las
Scanning file ./2017_kansas_log_data\1046410172.las
Scanning file ./2017_kansas_log_data\1046410182.las
Scanning file ./2017_kansas_log_data\1046410190.las
Scanning file ./2017_kansas_log_data\1046410195.las
Scanning file ./2017_kansas_log_data\1046410199.las
Scanning file ./2017_kansas_log_data\1046410201.las
Scanning file ./2017_kansas_log_data\1046410206.las
Scanning file ./2017_kansas_log_data\1046410219.las
Scanning file ./2017_kansas_log_data\1046410220.las
Scanning file ./2017_kansas_log_data\1046410232.las
Scanning file ./2017_kansas_log_data\1046410242.las
Scanning file ./2017_kansas_log_data\1046410251.las
Scanning file ./2017_kansas_log_data\1046410254.las
Scanning file ./2017_kansas_log_data\1046410268.las
Scanning file ./2017_kansas_log_data\1046410289.las
Scanning file ./2017_kansas_log_data\1046410293.las
Scanning file ./2017_kansas_log_data\1046410294.las
Scanning file ./2017_kansas_log_data\1046410299.las
Scanning file ./2017_kansas_log_data\1046410309.las
Scanning file ./2017_kansas_log_data\1046410312.las
Scanning file ./2017_kansas_log_data\1046410315.las
Scanning file ./2017_kansas_log_data\1046410322.las
Scanning file ./2017_kansas_log_data\1046410328.las
Scanning file ./2017_kansas_log_data\1046410332.las
Scanning file ./2017_kansas_log_data\1046410347.las
Scanning file ./2017_kansas_log_data\1046410357.las

Unable to parse line as LAS header: TCS .                   22 00:  Time Ciculation Ended
line 90 (section ~Parameter Information Block): "TCS .                   22 00:  Time Ciculation Ended"
Unable to parse line as LAS header: TLAB.                   20 00:  LogStartTimeT
line 94 (section ~Parameter Information Block): "TLAB.                   20 00:  LogStartTimeT"
Unable to parse line as LAS header: TSC .                   22 00:  Time Sin Circ
line 96 (section ~Parameter Information Block): "TSC .                   22 00:  Time Sin Circ"

Scanning file ./2017_kansas_log_data\1046410361.las
Scanning file ./2017_kansas_log_data\1046410366.las
Scanning file ./2017_kansas_log_data\1046410375.las
Scanning file ./2017_kansas_log_data\1046410387.las
Scanning file ./2017_kansas_log_data\1046410389.las
Scanning file ./2017_kansas_log_data\1046410391.las
Scanning file ./2017_kansas_log_data\1046410409.las
Scanning file ./2017_kansas_log_data\1046410411.las
Scanning file ./2017_kansas_log_data\1046410414.las
Scanning file ./2017_kansas_log_data\1046410415.las
Scanning file ./2017_kansas_log_data\1046410424.las
Scanning file ./2017_kansas_log_data\1046410426.las
Scanning file ./2017_kansas_log_data\1046410439.las
Scanning file ./2017_kansas_log_data\1046410447.las
Scanning file ./2017_kansas_log_data\1046410453.las
Scanning file ./2017_kansas_log_data\1046410454.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046410455.las
Scanning file ./2017_kansas_log_data\1046410478.las
Scanning file ./2017_kansas_log_data\1046410480.las
Scanning file ./2017_kansas_log_data\1046410514.las

Unable to parse line as LAS header: TCS .                   15 00:  Time Ciculation Ended
line 99 (section ~Parameter Information Block): "TCS .                   15 00:  Time Ciculation Ended"

Scanning file ./2017_kansas_log_data\1046410521.las
Scanning file ./2017_kansas_log_data\1046410531.las
Scanning file ./2017_kansas_log_data\1046410538.las
Scanning file ./2017_kansas_log_data\1046410549.las
Scanning file ./2017_kansas_log_data\1046410553.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046410557.las
Scanning file ./2017_kansas_log_data\1046410562.las

Header section Parameter regexp=~P was not found.

Scanning file ./2017_kansas_log_data\1046410567.las
Scanning file ./2017_kansas_log_data\1046410569.las
Scanning file ./2017_kansas_log_data\1046410578.las
Scanning file ./2017_kansas_log_data\1046410580.las
Scanning file ./2017_kansas_log_data\1046410595.las
Scanning file ./2017_kansas_log_data\1046410605.las
Scanning file ./2017_kansas_log_data\1046410615.las
Scanning file ./2017_kansas_log_data\1046410620.las
Scanning file ./2017_kansas_log_data\1046410621.las
Scanning file ./2017_kansas_log_data\1046410630.las
Scanning file ./2017_kansas_log_data\1046410632.las
Scanning file ./2017_kansas_log_data\1046410638.las
Scanning file ./2017_kansas_log_data\1046410657.las
Scanning file ./2017_kansas_log_data\1046410668.las

Unable to parse line as LAS header: SCHLUMBERGER OF ELK CITY  OK! 580-
line 105 (section ~PARAMETER INFORMATION): "SCHLUMBERGER OF ELK CITY  OK! 580-"
Unable to parse line as LAS header: 225-4300 :Remarks Line 8
line 107 (section ~PARAMETER INFORMATION): "225-4300 :Remarks Line 8"

Scanning file ./2017_kansas_log_data\1046410674.las

Unable to parse line as LAS header: SCHLUMBERGER OF ELK CITY  OK! 580-
line 105 (section ~PARAMETER INFORMATION): "SCHLUMBERGER OF ELK CITY  OK! 580-"
Unable to parse line as LAS header: 225-4300 :Remarks Line 8
line 107 (section ~PARAMETER INFORMATION): "225-4300 :Remarks Line 8"

Scanning file ./2017_kansas_log_data\1046410675.las
Scanning file ./2017_kansas_log_data\1046410679.las

In [9]:
print(f"Number of files scanned = {len(df_list)}")

Number of files scanned = 200

In [10]:
dataframe = pd.concat(df_list,axis=0)

In [11]:
dataframe.head()

,ABHV,CNPOR,DCAL,DPOR,GR,RHOB,RHOC,RILD,RILM,RLL3,...,PEFZ,PXND_HILT,RHO8,RHOZ,RSOZ,RXO8,RXOZ,SPAR,STIT,TNPH
0.00,NaN,NaN,NaN,NaN,1186.9237,NaN,NaN,4.2898,NaN,1992.6497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.25,NaN,NaN,NaN,NaN,850.4949,NaN,NaN,100000.0000,NaN,1992.6497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.50,NaN,NaN,NaN,NaN,633.5333,NaN,NaN,100000.0000,NaN,1992.6497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.75,NaN,NaN,NaN,NaN,448.8241,NaN,NaN,100000.0000,NaN,1992.6497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.00,NaN,NaN,NaN,NaN,311.7280,NaN,NaN,100000.0000,100000.0,1992.6497,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
dataframe.reset_index(inplace=True)

In [13]:
dataframe.describe()

,index,ABHV,CNPOR,DCAL,DPOR,GR,RHOB,RHOC,RILD,RILM,...,PEFZ,PXND_HILT,RHO8,RHOZ,RSOZ,RXO8,RXOZ,SPAR,STIT,TNPH
count,1.692401e+06,111875.000000,330941.000000,783638.000000,843116.000000,1.326620e+06,788971.000000,758617.000000,1.074212e+06,1.074239e+06,...,9614.000000,9583.000000,9613.000000,9614.000000,9806.000000,9806.000000,9806.000000,9756.000000,9806.000000,9583.000000
mean,2.405966e+03,450.766884,22.421155,5.296077,41.749046,6.875574e+01,2.015134,0.072808,1.582802e+03,4.072832e+03,...,2.067867,-0.672880,1.615800,0.762563,0.060645,80.455218,64.282858,-171.552101,0.010790,-0.677806
std,1.417493e+03,462.918433,11.743279,4.567890,994.284894,3.890542e+01,15.805206,0.822951,1.241513e+04,1.973080e+04,...,117.502109,83.108935,83.063891,117.322468,0.089066,421.672635,362.509460,70.639379,0.209091,83.108932
min,-3.550000e+01,0.000000,-50.000000,-499.625000,-499.625000,-5.000000e+00,-999.000000,-499.625000,-4.996250e+02,-4.996250e+02,...,-8151.644900,-8135.582100,-8141.571800,-8140.978500,0.000100,0.377300,0.377300,-6697.644700,0.000000,-8135.586100
25%,1.278000e+03,96.078800,13.256900,2.068500,6.910500,4.232620e+01,2.102500,0.022600,2.839300e+00,2.688300e+00,...,2.952800,0.086050,2.359800,2.350625,0.000100,2.298175,2.280900,-189.676525,0.000000,0.077900
50%,2.397500e+03,279.204600,23.093700,7.840000,16.391500,6.644365e+01,2.410000,0.059800,5.009600e+00,4.554200e+00,...,3.748000,0.159800,2.529800,2.524950,0.018300,7.686950,7.412100,-162.391550,0.000000,0.152100
75%,3.283000e+03,799.599900,30.408600,8.150700,34.666525,8.913753e+01,2.572900,0.142000,1.103250e+01,1.001260e+01,...,4.595575,0.242300,2.638600,2.630800,0.096875,29.543575,28.156800,-151.974850,0.000000,0.246300
max,9.581000e+03,3158.554200,100.000000,76.372300,58594.152300,2.214195e+03,6.487700,0.780000,1.000000e+05,1.000000e+05,...,7.854200,0.776800,3.062700,3.008000,0.753500,4994.365200,4992.050300,-128.280600,6.579200,1.300200

In [14]:
num_na = dataframe.isna().sum()
print(num_na)

index          0
ABHV     1580526
CNPOR    1361460
DCAL      908763
DPOR      849285
          ...
RXO8     1682595
RXOZ     1682595
SPAR     1682645
STIT     1682595
TNPH     1682818
Length: 251, dtype: int64

In [15]:
print(num_na.index)
print(num_na.values)

Index(['index', 'ABHV', 'CNPOR', 'DCAL', 'DPOR', 'GR', 'RHOB', 'RHOC', 'RILD',
       'RILM',
       ...
       'PEFZ', 'PXND_HILT', 'RHO8', 'RHOZ', 'RSOZ', 'RXO8', 'RXOZ', 'SPAR',
       'STIT', 'TNPH'],
      dtype='object', length=251)
[      0 1580526 1361460  908763  849285  365781  903430  933784  618189
  618162  611663  781285  477295 1580526 1574747 1574740 1157430 1214274
 1491750 1221853 1539307  996257  996257 1153272 1178651 1603211 1339013
 1385684 1385684 1565075 1491087 1567511 1565075 1565075 1565088 1565081
 1565088 1565088 1565075 1565075 1565075 1565075 1565085 1565085 1565085
 1565085 1565085 1565085 1565085 1670182 1565085 1565085 1565085 1676862
 1606080 1609505 1617745 1617745 1617745 1617745 1617745 1617745 1617745
 1617745 1646258 1646258 1646432 1646432 1636626 1646432 1624018 1646258
 1646258 1646258 1646258 1617745 1618306 1523539 1623978 1685327 1636839
 1627274 1539105 1498184 1502393 1503339 1591695 1498007 1596824 1591305
 1591305 1591305 1591960 1502616 1502616 1502616 1654175 1510853 1609796
 1643235 1643235 1584001 1584001 1546904 1546907 1546869 1546873 1546949
 1546949 1647874 1647874 1647874 1567733 1611818 1614992 1611767 1614959
 1623691 1670206 1670166 1670077 1670085 1670040 1676941 1670227 1670161
 1683803 1670049 1683803 1683803 1683803 1683803 1683807 1683807 1636020
 1662755 1662755 1686574 1686574 1686519 1686574 1686519 1658615 1659585
 1659584 1659588 1659588 1659588 1659588 1654493 1684739 1648955 1648967
 1686858 1686858 1576291 1576291 1575399 1575399 1664055 1687050 1687058
 1687058 1687058 1687058 1687058 1687058 1687058 1687058 1687058 1687058
 1687058 1687058 1687058 1687058 1687058 1687058 1672996 1672996 1672996
 1687282 1687282 1687282 1683403 1688522 1690831 1677698 1670477 1670713
 1685142 1670515 1677845 1685242 1685274 1685276 1685274 1685241 1685229
 1682629 1682629 1682629 1682629 1682629 1682629 1682629 1682629 1682629
 1682629 1682629 1682629 1682629 1682629 1673011 1682629 1682629 1682629
 1682595 1682595 1682595 1682817 1682595 1682595 1682595 1682787 1682788
 1682788 1682595 1682595 1682595 1682595 1672960 1682787 1682787 1682595
 1682595 1682595 1682819 1682787 1682819 1682595 1682787 1682787 1682818
 1682788 1682787 1682595 1682595 1682595 1682645 1682595 1682818]

In [19]:
num_na_selected = num_na[num_na<len(dataframe)//1.5]
print(num_na_selected)

index         0
DCAL     908763
DPOR     849285
GR       365781
RHOB     903430
RHOC     933784
RILD     618189
RILM     618162
RLL3     611663
RXORT    781285
SP       477295
AVTX     996257
BVTX     996257
dtype: int64

In [20]:
list(num_na_selected.keys())

['index',
 'DCAL',
 'DPOR',
 'GR',
 'RHOB',
 'RHOC',
 'RILD',
 'RILM',
 'RLL3',
 'RXORT',
 'SP',
 'AVTX',
 'BVTX']

In [59]:
df_droped = dataframe.dropna(subset = list(num_na_selected.keys()), axis=0, how='any')
df_droped

,index,ABHV,CNPOR,DCAL,DPOR,GR,RHOB,RHOC,RILD,RILM,...,PEFZ,PXND_HILT,RHO8,RHOZ,RSOZ,RXO8,RXOZ,SPAR,STIT,TNPH
28472,2100.0,NaN,32.7328,10.7312,12.1726,98.9759,2.5018,-0.0456,3.0742,3.0693,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28473,2100.5,NaN,34.4394,10.7148,12.6696,95.1823,2.4934,-0.0501,3.0771,3.0716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28474,2101.0,NaN,35.9008,10.7219,13.1748,93.7481,2.4847,-0.0564,3.0770,3.0827,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28475,2101.5,NaN,36.1130,10.7586,13.5641,95.7464,2.4781,-0.0624,3.0796,3.0846,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28476,2102.0,NaN,35.1143,10.7664,13.7536,101.3028,2.4748,-0.0665,3.0884,3.0917,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663265,3824.0,NaN,NaN,7.4169,6.4776,2.0461,2.5992,0.1810,12.0765,14.0840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1663266,3824.5,NaN,NaN,7.4250,6.0027,0.2284,2.6074,0.1912,12.3291,14.1685,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1663267,3825.0,NaN,NaN,7.4280,5.7715,0.0120,2.6113,0.1952,12.1540,13.7079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1663268,3825.5,NaN,NaN,7.4283,5.6685,0.0000,2.6131,0.1967,11.6270,12.8306,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1663338,3860.5,NaN,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# now check na one more time
num_na = df_droped.isna().sum()
print(num_na)

index         0
ABHV     643154
CNPOR    388982
DCAL          0
DPOR          0
          ...
RXO8     643154
RXOZ     643154
SPAR     643154
STIT     643154
TNPH     643154
Length: 251, dtype: int64

In [61]:
num_na_selected = num_na[num_na<=0]
print(num_na_selected)

index    0
DCAL     0
DPOR     0
GR       0
RHOB     0
RHOC     0
RILD     0
RILM     0
RLL3     0
RXORT    0
SP       0
AVTX     0
BVTX     0
dtype: int64

In [62]:
df_droped = df_droped[list(num_na_selected.index)]
df_droped

,index,DCAL,DPOR,GR,RHOB,RHOC,RILD,RILM,RLL3,RXORT,SP,AVTX,BVTX
28472,2100.0,10.7312,12.1726,98.9759,2.5018,-0.0456,3.0742,3.0693,4.0018,-10.3073,46.4134,0.0,0.0
28473,2100.5,10.7148,12.6696,95.1823,2.4934,-0.0501,3.0771,3.0716,3.9313,-9.5754,46.4476,0.0,0.0
28474,2101.0,10.7219,13.1748,93.7481,2.4847,-0.0564,3.0770,3.0827,3.9743,-10.0016,46.1740,0.0,0.0
28475,2101.5,10.7586,13.5641,95.7464,2.4781,-0.0624,3.0796,3.0846,3.9712,-9.9387,45.4530,0.0,0.0
28476,2102.0,10.7664,13.7536,101.3028,2.4748,-0.0665,3.0884,3.0917,3.8802,-8.9208,44.5401,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663265,3824.0,7.4169,6.4776,2.0461,2.5992,0.1810,12.0765,14.0840,25.9152,-26.4163,-163.9941,0.0,0.0
1663266,3824.5,7.4250,6.0027,0.2284,2.6074,0.1912,12.3291,14.1685,28.5249,-27.4761,-164.2686,0.0,0.0
1663267,3825.0,7.4280,5.7715,0.0120,2.6113,0.1952,12.1540,13.7079,25.9979,-27.2600,-164.4635,0.0,0.0
1663268,3825.5,7.4283,5.6685,0.0000,2.6131,0.1967,11.6270,12.8306,22.9899,-25.7114,-164.5161,0.0,0.0
1663338,3860.5,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0

In [65]:
df_droped.reset_index(inplace=True)
del(df_droped['level_0'])
df_droped.to_csv('well_log_data_prepared.csv',index=True)

In [66]:
df_droped.head()

,index,DCAL,DPOR,GR,RHOB,RHOC,RILD,RILM,RLL3,RXORT,SP,AVTX,BVTX
0,2100.0,10.7312,12.1726,98.9759,2.5018,-0.0456,3.0742,3.0693,4.0018,-10.3073,46.4134,0.0,0.0
1,2100.5,10.7148,12.6696,95.1823,2.4934,-0.0501,3.0771,3.0716,3.9313,-9.5754,46.4476,0.0,0.0
2,2101.0,10.7219,13.1748,93.7481,2.4847,-0.0564,3.0770,3.0827,3.9743,-10.0016,46.1740,0.0,0.0
3,2101.5,10.7586,13.5641,95.7464,2.4781,-0.0624,3.0796,3.0846,3.9712,-9.9387,45.4530,0.0,0.0
4,2102.0,10.7664,13.7536,101.3028,2.4748,-0.0665,3.0884,3.0917,3.8802,-8.9208,44.5401,0.0,0.0